body {
    background-color:#484848;
}

.rows {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 1px; 
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

.peg {
    width: 50%;
    margin: auto;
}

#below-canvas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}