body {
    background-color:#484848;
}

.rows {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 1px; 
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

.peg {
    width: 50%;
    margin: auto;
}

#draw-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
}