body {
    background-color:#484848;
}

h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 6em;
    background: linear-gradient(to right,red, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    text-align: center;
    color: #d1d1d1;
}

.inactive {
    opacity: 0.6;
}

.rows {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 1px; 
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

.peg {
    width: 50%;
    margin: auto;
}

#draw-view {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#controls {
    border: 2px solid black;
    border-radius: 10px;
}

.color-selector {
    width: 100%;
}

#drawing-list {
    border-top: 2px solid black;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 3px;
    margin: 0;
}

#sidebar {
    width: fit-content;
    border: 2px solid black;
    border-radius: 10px;
}

.drawing-link {
    text-decoration: none;
    color: whitesmoke;
    
}

.drawing-link:hover {
    color: red;
}

.sidebar-button {
    display: block;
    width: 100%;
    border-radius: 5px;
}